body {
	font-size: 100%;
}

#clock {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.25em;
}

.micro {
	font-size: 0.75em;
}

.btn {
	display: inline;
	border: solid 1px black;
	padding: 2px;
}